{% load static %}
    <header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
        <div id="header" class="nav-collapse">
            <div class="row clearfix">
                <div class="col-1">

                    <!--Logo-->
                    <div id="logo">
                        <img src="{% static 'images/logo.png'%}" id="banner-logo" alt="Landing Page"/>
                        <img src="{% static 'images/logo-2.png'%}" id="navigation-logo" alt="Landing Page"/>
                    </div>
                    <!--End of Logo-->

                    <aside>

                        <!--Social Icons in Header-->
                        <ul class="social-icons">
                            <li>
                                <a target="_blank" title="Facebook" href="https://www.facebook.com/username">
                                    <i class="fa fa-facebook fa-1x"></i><span>Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" title="Google+" href="http://google.com/+username">
                                    <i class="fa fa-google-plus fa-1x"></i><span>Google+</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" title="Twitter" href="http://www.twitter.com/username">
                                    <i class="fa fa-twitter fa-1x"></i><span>Twitter</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" title="Instagram" href="http://www.instagram.com/username">
                                    <i class="fa fa-instagram fa-1x"></i><span>Instagram</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" title="behance" href="http://www.behance.net">
                                    <i class="fa fa-behance fa-1x"></i><span>Behance</span>
                                </a>
                            </li>
                        </ul>
                        <!--End of Social Icons in Header-->

                    </aside>

                    <!--Main Navigation-->
                    <nav id="nav-main">
                        <ul>
                            <li>
                                <a href="#banner">Башкы бет</a>
                            </li>
                            <li>
                                <a href="#about">КЫЗМАТТАР</a>
                            </li>
                            <li>
                                <a href="#services">БИЗ ЖӨНҮНДӨ</a>
                            </li>
                            <li>
                                <a href="#clients">КАРДАРЛАР</a>
                            </li>
                            <li>
                                <a href="#pricing">ПАКЕТТЕР</a>
                            </li>
                            <li>
                                <a href="#gallery">ГАЛЕРИЯ</a>
                            </li>
                            <li>
                                <a href="#contact">БАЙЛАНЫШ</a>
                            </li>
                        </ul>
                    </nav>
                    <!--End of Main Navigation-->

                    <div id="nav-trigger"><span></span></div>
                    <nav id="nav-mobile"></nav>

                </div>
            </div>
        </div><!--End of Header-->
    </header>
